<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/video">Video</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </nav>
    <h1>Welcome to our video sharing platform</h1>
    
   <!-- Search bar -->
<form action="/" method="GET">
  <input type="text" name="search" placeholder="Search...">
  <button type="submit">Search</button>
</form>
<h1>Home Page</h1>
<form method="GET">
  <input type="text" name="search" placeholder="Search videos...">
  <button type="submit">Search</button>
</form>
<hr>
{{!-- {{#each videos}}
<div>
  <a href="/video/{{videoId}}">
    <img src="{{img}}" alt="{{title}}">
    <h2>{{title}}</h2>
  </a>
  <p>Channel: {{channel}}</p>
  <p>Upload Date: {{createdDate}}</p>
</div>
{{/each}} --}}

  </body>
</html>
