<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/video">Video</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </nav>
    <h1>Welcome to our video sharing platform</h1>
    
   <!-- Search bar -->
<form action="/" method="GET">
  <input type="text" name="search" placeholder="Search...">
  <button type="submit">Search</button>
</form>

<!-- Video list -->
{{#each videos}}
  <div class="video">
    <a href="/video/{{this.videoId}}">
      <img src="{{this.img}}" alt="{{this.title}}">
      <h2>{{this.title}}</h2>
      <p>{{this.channel}}</p>
      <p>{{this.createdDate}}</p>
    </a>
  </div>
{{/each}}


  </body>
</html>
