<html>
<title>
  </title>
  <head>
      </head>
    <body>
       <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/video">Video</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </nav>
     <!-- views/video.hbs -->

<!-- Main section -->
{{#each videos}}
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{this.videoId}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <h3>{{this.title}}</h3>
    <p>Channel: {{this.channel}}</p>
    <p>Likes: {{this.likes}}</p>
    <p>Created Date: {{this.createdDate}}</p>
  </div>
{{/each}}



    </body>



</html>
